@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Overused Grotesk';
  src: url('/fonts/OverusedGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('/fonts/OverusedGrotesk-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('/fonts/OverusedGrotesk-Roman.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('/fonts/OverusedGrotesk-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('/fonts/OverusedGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('/fonts/OverusedGrotesk-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('/fonts/OverusedGrotesk-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('/fonts/OverusedGrotesk-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('/fonts/OverusedGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('/fonts/OverusedGrotesk-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('/fonts/OverusedGrotesk-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('/fonts/OverusedGrotesk-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('/fonts/OverusedGrotesk-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('/fonts/OverusedGrotesk-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}
